.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  padding: 20px;
  color: white;
}
.task-input {
  margin-bottom: 10px;
}
.task-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.task-input button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: rgb(170, 56, 56);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.task-item:hover {
  background-color: #d18a8a;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-item button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
